<h1>Notebooks</h1>
<%= link_to 'New Notebook', new_notebook_path %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @notebooks.each do |notebook| %>
      <tr>
        <td><%= notebook.title %></td>
        <td>
          <%= link_to 'Show', notebook %>
          <%= link_to 'Notes', notebook_notes_path(notebook) %>
          <%= link_to 'Edit', edit_notebook_path(notebook) %>
          <%= link_to 'Delete', notebook, method: :delete, data: { confirm: 'Are you sure you want to delete?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
