<h1>Notes</h1>
<%= link_to 'Create New Note', new_notebook_note_path(@notebook) %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= note.description %></td>
        <td><%= link_to 'Edit', edit_notebook_note_path(@notebook, note) %></td>
        <td><%= link_to 'Delete', notebook_note_path(@notebook, note), method: :delete, data: { confirm: 'Are you sure you want to delete?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>