<div class="mdc-card registration-main">
  <h2 class="mdc-typography--headline5 login-title">
    Edit your account details
  </h2>
  <hr class="mdc-list-divider divider-margin">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
    <% error_messages = resource.errors.messages %>
    <div class="form-field">
      <div class="mdc-typography--subtitle1">
        <%= f.label :full_name %>
      </div>
      <div class="mdc-text-field mdc-text-field--filled input-field">
        <%= f.text_field :full_name, autofocus: true, autocomplete: "full_name", class: 'mdc-text-field__input' %>
      </div>
      <% if error_messages[:full_name] %>
        <div class="field-error">
          <%= error_messages[:full_name][0] %>
        </div>
      <% end %>
    </div>

    <div class="form-field">
      <div class="mdc-typography--subtitle1">
        <%= f.label :email %> (read only)
      </div>

      <div class="mdc-text-field mdc-text-field--filled input-field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'mdc-text-field__input', readonly: 'readonly' %>
      </div>

      <% if error_messages[:email] %>
        <div class="field-error">
          <%= error_messages[:email][0] %>
        </div>
      <% end %>
    </div>

    <div class="form-field">
      <div class="mdc-typography--subtitle1">
        <%= f.label :phone %>
      </div>
      <div class="mdc-text-field mdc-text-field--filled input-field">
        <%= f.text_field :phone, autofocus: true, autocomplete: "phone", class: 'mdc-text-field__input' %>
      </div>
      <% if error_messages[:phone] %>
        <div class="field-error">
          <%= error_messages[:phone][0] %>
        </div>
      <% end %>
    </div>

    <div class="form-field">
      <div class="mdc-typography--subtitle1">
        <%= f.label :street_address %>
      </div>
      <div class="mdc-text-field mdc-text-field--filled input-field">
        <%= f.text_field :street_address, autofocus: true, autocomplete: "street_address", class: 'mdc-text-field__input' %>
      </div>
      <% if error_messages[:street_address] %>
        <div class="field-error">
          <%= error_messages[:street_address][0] %>
        </div>
      <% end %>
    </div>

    <div class="form-field">
      <div class="mdc-typography--subtitle1">
        <%= f.label :city %>
      </div>
      <div class="mdc-text-field mdc-text-field--filled input-field">
        <%= f.text_field :city, autofocus: true, autocomplete: "city", class: 'mdc-text-field__input' %>
      </div>
      <% if error_messages[:city] %>
        <div class="field-error">
          <%= error_messages[:city][0] %>
        </div>
      <% end %>
    </div>

    <div class="form-field">
      <div class="mdc-typography--subtitle1">
        <%= f.label :state %>
      </div>
      <div class="mdc-text-field mdc-text-field--filled input-field">
        <%= f.text_field :state, autofocus: true, autocomplete: "state", class: 'mdc-text-field__input' %>
      </div>
      <% if error_messages[:state] %>
        <div class="field-error">
          <%= error_messages[:state][0] %>
        </div>
      <% end %>
    </div>

    <div class="form-field">
      <div class="mdc-typography--subtitle1">
        <%= f.label :zip_code %>
      </div>
      <div class="mdc-text-field mdc-text-field--filled input-field">
        <%= f.text_field :zip_code, autofocus: true, autocomplete: "zip_code", class: 'mdc-text-field__input' %>
      </div>
      <% if error_messages[:zip_code] %>
        <div class="field-error">
          <%= error_messages[:zip_code][0] %>
        </div>
      <% end %>
    </div>

     <div class="form-field">
      <div class="mdc-typography--subtitle1">
        <%= f.label :country %>
      </div>
      <div class="mdc-text-field mdc-text-field--filled input-field">
        <%= f.text_field :country, autofocus: true, autocomplete: "country", class: 'mdc-text-field__input' %>
      </div>
      <% if error_messages[:country] %>
        <div class="field-error">
          <%= error_messages[:country][0] %>
        </div>
      <% end %>
    </div>

    <div class="form-field">
      <div class="mdc-typography--subtitle1">
        <%= f.label :short_bio %>
      </div>
      <div class="mdc-text-field mdc-text-field--filled input-field">
        <%= f.text_area :short_bio, autofocus: true, autocomplete: "short_bio", class: 'mdc-text-field__input' %>
      </div>
      <% if error_messages[:short_bio] %>
        <div class="field-error">
          <%= error_messages[:short_bio][0] %>
        </div>
      <% end %>
    </div>

    <div class="form-field">
      <div class="mdc-typography--subtitle1">
        <%= f.label :linkedin_url %>
      </div>
      <div class="mdc-text-field mdc-text-field--filled input-field">
        <%= f.text_field :linkedin_url, autofocus: true, autocomplete: "linkedin_url", class: 'mdc-text-field__input' %>
      </div>
      <% if error_messages[:linkedin_url] %>
        <div class="field-error">
          <%= error_messages[:linkedin_url][0] %>
        </div>
      <% end %>
    </div>

    <div class="form-field">
      <div class="mdc-typography--subtitle1">
        <%= f.label :twitter_url %>
      </div>
      <div class="mdc-text-field mdc-text-field--filled input-field">
        <%= f.text_field :twitter_url, autofocus: true, autocomplete: "twitter_url", class: 'mdc-text-field__input' %>
      </div>
      <% if error_messages[:twitter_url] %>
        <div class="field-error">
          <%= error_messages[:twitter_url][0] %>
        </div>
      <% end %>
    </div>



    <div class='btn-main'>
      <%= link_to "Cancel", root_path, class: 'back secondary-btn float-left' %>
      <button class="mdc-button mdc-button--raised action-btn float-right">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label"><%= f.submit "Update" %></span>
      </button>
    </div>
  <% end %>
</div>
<!--we will add more fields here -->
