<main id="content" role="main">
  <div class="container space-2 space-lg-2">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="js-validate w-md-75 w-lg-50 mx-md-auto">
        <% error_messages = resource.errors.messages %>
        <!-- Title -->
        <div class="mb-5 mb-md-7">
          <h1 class="h2 mb-0">Welcome to VC Room</h1>
          <p>
            Fill out the form to get started.
          </p>
        </div>
        <!-- End Title -->

        <!-- Form Group -->
        <div class="js-form-message form-group">
          <label class="input-label" for="email"><%= f.label :full_name %></label>
          <%= f.text_field :full_name, autofocus: true, autocomplete: "full_name", class: 'form-control', placeholder: "Full Name", type: 'text', id: 'full_name', ariaLabel: 'Full Name', dataMsg: 'Please enter a valid full name.' %>
          <% if error_messages[:full_name] %>
            <div class="field-error">
              <%= error_messages[:full_name][0] %>
            </div>
          <% end %>
        </div>
        <!-- End Form Group -->

        <!-- Form Group -->
        <div class="js-form-message form-group">
          <label class="input-label" for="email"><%= f.label :email %></label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "Email address", type: 'email', id: 'email', ariaLabel: 'Email address', dataMsg: 'Please enter a valid email address.' %>
          <% if error_messages[:email] %>
            <div class="field-error">
              <%= error_messages[:email][0] %>
            </div>
          <% end %>
        </div>
        <!-- End Form Group -->

        <!-- Form Group -->
        <div class="js-form-message form-group">
          <label class="input-label" for="password">
          <span class="d-flex justify-content-between align-items-center">
            <%= f.label :password %>
            <% if @minimum_password_length %>
          <label>(<%= @minimum_password_length %> characters minimum)</label>
        <% end %>
          </span>
          </label>
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', type: 'password', id:'password', dataMsg:'Your password is invalid. Please try again.' %>
          <% if error_messages[:password] %>
            <div class="field-error">
              <%= error_messages[:password][0] %>
            </div>
          <% end %>
        </div>
        <!-- End Form Group -->

        <!-- Form Group -->
        <div class="js-form-message form-group">
          <label class="input-label" for="password">
          <span class="d-flex justify-content-between align-items-center">
           <%= f.label :password_confirmation %>
          </span>
          </label>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', type: 'password', id:'password_confirmation', dataMsg:'Your password is invalid. Please try again.' %>
          <% if error_messages[:password_confirmation] %>
            <div class="field-error">
              <%= error_messages[:password_confirmation][0] %>
            </div>
          <% end %>
        </div>
        <!-- End Form Group -->

        <!-- Checkbox -->
        <!--        <div class="js-form-message mb-5">-->
        <!--          <div class="custom-control custom-checkbox d-flex align-items-center text-muted">-->
        <%#= f.check_box :agree, class: 'custom-control-input', id: 'agree', type: 'checkbox', name:'agree' %>
        <!--            <label class="custom-control-label" for="remember_me">-->
        <!--              <small>-->
        <!--                I agree to the Terms and Conditions-->
        <!--              </small>-->
        <!--            </label>-->
        <!--          </div>-->
        <!--        </div>-->
        <!-- End Checkbox -->
        <!-- End Form Group -->

        <!-- Button -->
        <div class="row align-items-center mb-5">
          <div class="col-sm-6 mb-3 mb-sm-0">
            <span class="font-size-1 text-muted">Already have an account?</span>
            <%= link_to "Login", new_session_path(resource_name), class: 'font-size-1 font-weight-bold' %>
          </div>

          <div class="col-sm-6 text-sm-right">
            <%= f.submit "Sign Up", class:"btn btn-primary transition-3d-hover" %>
          </div>
        </div>
        <!-- End Button -->
    </div>
      <% end %>

  </div>
  <!-- End Login Form -->
</main>

