<%= form_with(model: [:teaching, @course, @course_content]) do |form| %>
  <% error_messages = @course_content.errors.messages %>
  <div class="pl-4 pr-4 space-top-1">
    <div class="row">
      <div class="col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :title %></label>
        <%= form.text_field :title, autofocus: true, autocomplete: "full_name", class: 'form-control', type: 'text', id: 'full_name', placeholder: 'Title' %>
        <% if error_messages[:title] %>
          <div class="field-error">
            <%= error_messages[:title][0] %>
          </div>
        <% end %>
      </div>

      <div class="col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :description %></label>
        <%= form.text_area :description, autofocus: true, autocomplete: "description", class: 'form-control', type: 'text', id: 'description', placeholder: 'Description' %>
        <% if error_messages[:description] %>
          <div class="field-error">
            <%= error_messages[:description][0] %>
          </div>
        <% end %>
      </div>

      <div class="col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :duration %></label>
        <%= form.text_field :duration, autofocus: true, autocomplete: "duration", class: 'form-control', type: 'text', id: 'duration', placeholder: 'Duration' %>
        <% if error_messages[:duration] %>
          <div class="field-error">
            <%= error_messages[:duration][0] %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row align-items-center mb-5 mt-4">
      <div class="col-6 mb-sm-0 pl-4">
        <%= link_to "Back", teaching_course_path(@course), class: 'font-size-1 font-weight-bold text-muted content-centered' %>
      </div>
      <div class="col-6 text-right">
        <% if params[:action] == "edit" %>
          <%= form.submit "Edit", class: "btn btn-sm btn-primary" %>
        <% else %>
          <%= form.submit "Add", class: "btn btn-sm btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
