<h3>Course Contents</h3>
<div class="">
  <!-- Body -->
  <div class="card-body">
    <% if course_contents.present? %>
      <!-- Table -->
      <div class="table-responsive">
        <table class="table table-thead-bordered table-nowrap table-align-middle">
          <thead class="thead-light">
            <tr>
              <th>Title</th>
              <th>Duration</th>
              <th>Preview available</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% course_contents.each do |course_content| %>
              <tr>
                <td><%= course_content.title %></td>
                <td><%= course_content.duration %></td>
                <td><%= course_content.preview? ? 'Yes' : 'No'%></td>
                <td>
                  <%= link_to 'View', teaching_course_chapter_course_content_path(@course, chapter, course_content), class: 'btn btn-xs btn-soft-success' %>&nbsp;&nbsp;
                  <%= link_to 'Edit', edit_teaching_course_chapter_course_content_path(@course, chapter, course_content), class: 'btn btn-xs btn-soft-success' %>&nbsp;&nbsp;
                  <%= link_to 'Delete', teaching_course_chapter_course_content_path(@course, chapter, course_content), method: :delete, data: {confirm: 'Are you sure delete course content?'}, class: 'btn btn-xs btn-soft-danger' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <!-- End Table -->
      </div>
    <% else %>
      <figure class="max-w-8rem mx-auto">
        <img class="img-fluid" src="
          <%= asset_path("icons/icon-67.svg") %>" alt="SVG">
      </figure>
      <div class="text-center mt-2">Contents Empty</div>
    <% end %>
  </div>
</div>



