<div class="border mb-2">
  <div class="card-header">
    <div class="media-body">
      <h5 class="mb-0"><i class="fas fa-book pt-1 mr-2 text-body"></i>Course Contents</h5>
    </div>
    <span>
      <%= link_to "Add New Content", new_teaching_course_chapter_course_content_path(@course, chapter), class: 'btn btn-xs btn-soft-primary' %>
 </span>
  </div>

  <div class="">
    <!-- Body -->
    <div class="">
      <% if course_contents.present? %>
              <!-- Table -->
              <div class="table-responsive">
                <table class="table table-thead-bordered table-nowrap table-align-middle">
                  <thead class="thead-light">
                  <tr>
                    <th>Title</th>
                    <th>Duration</th>
                    <th>Preview available</th>
                    <th colspan="3">Action</th>
                  </tr>
                  </thead>
                  <tbody>
      <% course_contents.each do |course_content| %>
                    <tr>
                      <td><%= course_content.title %></td>
                      <td><%= course_content.duration %></td>
                      <td><%= course_content.preview? ? 'Yes' : 'No' %></td>
                      <td>
                        <%= link_to 'View', teaching_course_chapter_course_content_path(@course, chapter, course_content), class: 'btn btn-xs btn-soft-success' %>&nbsp;&nbsp;
                        <%= link_to 'Edit', edit_teaching_course_chapter_course_content_path(@course, chapter, course_content), class: 'btn btn-xs btn-soft-success' %>&nbsp;&nbsp;
      <%= link_to 'Delete', teaching_course_chapter_course_content_path(@course, chapter, course_content), method: :delete, data: {confirm: 'Are you sure delete course content?'}, class: 'btn btn-xs btn-soft-danger' %>
                      </td>
                    </tr>
      <% end %>
                  </tbody>
                </table>
                <!-- End Table -->
              </div>
      <% else %>
      <div class="space-1">
        <figure class="max-w-8rem mx-auto">
          <img class="img-fluid" src="
          <%= asset_path("icons/icon-2.svg") %>" alt="SVG">
        </figure>
        <div class="text-center mt-2">Contents Empty</div>
      </div>
      <% end %>
    </div>
  </div>
</div>



