<!-- Hero Section -->
<div class="bg-navy bg-img-hero">
  <div class="container space-1 ">
    <div class="w-lg-65 text-center mx-lg-auto">
      <span class="badge badge-soft-light badge-pill font-size-1 py-3 px-4 mb-3">
       <nav aria-label="breadcrumb">
         <ol class="breadcrumb breadcrumb-light breadcrumb-no-margin">
           <li class="breadcrumb-item"><a href="<%= teaching_courses_path %>" class="text-light text-highlight-light">My Courses</a></li>
           <li class="breadcrumb-item"><a href="<%= teaching_course_path(@course) %>" class="text-light text-highlight-light"><%= @course.title %></a></li>
           <li class="breadcrumb-item"><a href="<%= teaching_course_chapter_path(@course, @chapter) %>" class="text-light text-highlight-light"><%= @chapter.title %></a></li>
           <li class="breadcrumb-item active"><%= @course_content.title %></li>
          </ol>
        </nav>
      </span>
    </div>
  </div>
</div>
<!-- End Hero Section -->
<div class="container space-1">
  <!-- Card -->
  <div class="card mx-auto w-lg-60">
    <div class="card-header">
      <%= @course_content.title %>
    </div>
    <div class="card-body">
      <div>
        <%= @course_content.description %>
      </div>
      <div>
        Duration: <%= @course_content.duration %>
      </div>
      <div>
        Preview available: <%= @course_content.preview? ? 'Yes' : 'No' %>
      </div>
      <div>
        <%= link_to "Back", teaching_course_path(@course) %>
      </div>
    </div>
  </div>
</div>