<!-- Hero Section -->
<div class="bg-navy bg-img-hero">
  <div class="container space-1 ">
    <div class="w-lg-65 text-center mx-lg-auto">
      <span class="badge badge-soft-light badge-pill font-size-1 py-3 px-4 mb-3">
       <nav aria-label="breadcrumb">
         <ol class="breadcrumb breadcrumb-light breadcrumb-no-margin">
           <li class="breadcrumb-item"><a href="<%= teaching_courses_path %>" class="text-light text-highlight-light">My Courses</a></li>
           <li class="breadcrumb-item"><a href="<%= teaching_course_path(@course) %>" class="text-light text-highlight-light"><%= @course.title %></a></li>
           <li class="breadcrumb-item"><a href="<%= teaching_course_chapter_path(@course, @chapter) %>" class="text-light text-highlight-light"><%= @chapter.title %></a></li>
           <li class="breadcrumb-item active"><%= @course_content.title %></li>
          </ol>
        </nav>
      </span>
    </div>
  </div>
</div>
<!-- End Hero Section -->
<div class="container space-1">
  <!-- Card -->
  <div class="card mx-auto w-lg-60">
    <div class="card-header">
      <h5><%= @course_content.title %></h5>
      <span>
         <a href="<%= teaching_course_path(@course) %>" class="btn btn-xs btn-no-focus btn-ghost-primary">
           Back
          </a>
      </span>
    </div>
    <div class="card-body">
      <form>
        <!-- Form Group -->
        <div class="row form-group">
          <label for="description" class="col-sm-3 col-form-label input-label">Description</label>

          <div class="col-sm-9">
            <input type="text" class="form-control-plaintext" name="description" id="description" value="<%= @course_content.description %>" readonly>
          </div>
        </div>
        <!-- End Form Group -->

        <!-- Form Group -->
        <div class="row form-group">
          <label for="duration" class="col-sm-3 col-form-label input-label">Duration</label>

          <div class="col-sm-9">
            <input type="text" class="form-control-plaintext" name="duration" id="duration" value="<%= @course_content.duration %>" readonly>
          </div>
        </div>
        <!-- End Form Group -->

        <!-- Form Group -->
        <div class="row form-group">
          <label for="preview" class="col-sm-3 col-form-label input-label">Preview Available</label>
          <div class="col-sm-9">
            <input type="text" class="form-control-plaintext" name="preview" id="preview" value=" <%= @course_content.preview? ? 'Yes' : 'No' %>" readonly>
          </div>
        </div>
        <!-- End Form Group -->
      </form>
    </div>
  </div>
</div>