<div class="card mb-3 mb-lg-5">
 	<div class="card-header">
    	<h5 class="card-title">Experience</h5>
  	</div>
  	<div class="card-body">
			<ul class='timeline'>
				<% current_user.experiences.each do |experience| %>
					<li class='experience-item'>
            <span class="media-body mb-2">
              <h3 class="mt-1 mb-1">
                <%= experience.name_of_institution %>, <span class='text-body h4'><%= experience.year_start %> - <%= experience.year_end.present? ? experience.year_end : 'Present' %></span>
              </h3>
              <p class="mb-1"><%= experience.title %>, <%= experience.location %>, <%= experience.country %> </p>
            </span>
					</li>
				<% end %>
			</ul>
  	</div>
</div>
