<div class="card mb-3 mb-lg-5">
  <div class="card-header">
    <h5 class="card-title">Basic info</h5>
    <span>
      <a href="<%= edit_user_registration_path %>" class="btn btn-xs btn-no-focus btn-primary">
        <i class="fas fa-pen mr-1"></i>
        Edit Profile
      </a>
    </span>
  </div>
  <div class="card-body">
    <div class="row form-group">
      <label for="firstNameLabel" class="col-sm-3 col-form-label input-label">Full name
        <i class="far fa-question-circle text-body ml-1" data-toggle="tooltip" data-placement="top" title="Displayed on public forums, such as Front."></i>
      </label>

      <div class="col-sm-9">
        <div class="input-group">
          <input type="text" class="form-control-plaintext" name="firstName" id="firstNameLabel" placeholder="Clarice" aria-label="Clarice" value="<%= current_user.full_name %>" readonly>
        </div>
      </div>
    </div>
    <!-- End Form Group -->

    <!-- Form Group -->
    <div class="row form-group">
      <label for="emailLabel" class="col-sm-3 col-form-label input-label">Email</label>

      <div class="col-sm-9">
        <input type="email" class="form-control-plaintext" name="email" id="emailLabel" placeholder="clarice@example.com" aria-label="clarice@example.com" value="<%= current_user.email %>" readonly>
      </div>
    </div>
    <!-- End Form Group -->

    <!-- Form Group -->
    <div class="js-add-field row form-group">
      <label for="phoneLabel" class="col-sm-3 col-form-label input-label">Phone</label>

      <div class="col-sm-9">
        <div class="input-group align-items-center">
          <input type="text" class="js-masked-input form-control-plaintext" name="phone" id="phoneLabel" placeholder="Not Available" aria-label="+x(xxx)xxx-xx-xx" value="<%= current_user.phone %>" readonly>
        </div>

      </div>
    </div>
    <!-- End Form Group -->

    <!-- Form Group -->
    <div class="row form-group">
      <label for="short_bio" class="col-sm-3 col-form-label input-label">BIO</label>

      <div class="col-sm-9">
        <div class="input-group align-items-center">
          <input type="text" class="js-masked-input form-control-plaintext" name="short_bio" id="short_bio" placeholder="Not Available"   value="<%= current_user.short_bio %>" readonly>
        </div>
      </div>
    </div>
    <!-- End Form Group -->

    <!-- Form Group -->
    <div class="row form-group">
      <label for="linkedin_url" class="col-sm-3 col-form-label input-label">LinkedIn Url</label>

      <div class="col-sm-9">
        <div class="input-group align-items-center">
          <input type="text" class="js-masked-input form-control-plaintext" name="linkedin_url" id="linkedin_url" placeholder="Not Available"   value="<%= current_user.linkedin_url %>" readonly>
        </div>
      </div>
    </div>
    <!-- End Form Group -->

    <!-- Form Group -->
    <div class="row form-group">
      <label for="twitter_url" class="col-sm-3 col-form-label input-label">Twitter Url</label>

      <div class="col-sm-9">
        <div class="input-group align-items-center">
          <input type="text" class="js-masked-input form-control-plaintext" name="twitter_url" id="twitter_url" placeholder="Not Available"   value="<%= current_user.twitter_url %>" readonly>
        </div>
      </div>
    </div>
  </div>
</div>
