<main id="content" role="main" class="bg-light">
  <!-- Breadcrumb Section -->
  <div class="bg-navy">
    <div class="container space-1 space-top-lg-2 space-bottom-lg-3">
      <div class="row align-items-center">
        <div class="col">
          <div class="d-none d-lg-block">
            <h1 class="h2 text-white">Personal info</h1>
          </div>

          <!-- Breadcrumb -->
          <ol class="breadcrumb breadcrumb-light breadcrumb-no-gutter mb-0">
            <li class="breadcrumb-item">Account</li>
            <li class="breadcrumb-item active" aria-current="page">Update Password</li>
          </ol>
          <!-- End Breadcrumb -->
        </div>

        <div class="col-auto">
          <div class="d-none d-lg-block">
            <a class="btn btn-soft-light" href="<%= destroy_user_session_path %>">Log out</a>
          </div>

          <!-- Responsive Toggle Button -->
          <button type="button" class="navbar-toggler btn btn-icon btn-sm rounde-circle d-lg-none"
                  aria-label="Toggle navigation"
                  aria-expanded="false"
                  aria-controls="sidebarNav"
                  data-toggle="collapse"
                  data-target="#sidebarNav">
              <span class="navbar-toggler-default">
                <i class="fas fa-bars"></i>
              </span>
            <span class="navbar-toggler-toggled">
                 <i class="fas fa-times"></i>
              </span>
          </button>
          <!-- End Responsive Toggle Button -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumb Section -->

  <!-- Content Section -->
  <div class="container space-2 space-top-lg-0 mt-lg-n10">
    <div class="row">
      <div class="col-lg-3">
        <!-- Navbar -->
        <%= render "layouts/sidenav" %>
        <!-- End Navbar -->
      </div>

      <div class="col-lg-9">
        <!-- Card -->
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Update Password</h5>
          </div>

          <!-- Body -->
          <div class="card-body">
            <%= form_for(@user, local: true, url: update_password_users_path, html: {method: :put}) do |f| %>
              <% error_messages = @user.errors.messages %>
              <!-- Form Group -->
              <div class="row form-group">
                <label class="col-sm-3 col-form-label input-label">
                  Password
                </label>
                <div class="col-sm-9">
                  <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control', type: 'password' %>
                  <% if error_messages[:password] %>
                    <div class="field-error">
                      <%= error_messages[:password][0] %>
                    </div>
                  <% end %>
                </div>
              </div>
              <!-- End Form Group -->

              <!-- Form Group -->
              <div class="row form-group">
                <label class="col-sm-3 col-form-label input-label">
                  Password confirmation
                </label>
                <div class="col-sm-9">
                  <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "password_confirmation", class: 'form-control', type: 'password' %>
                  <% if error_messages[:password_confirmation] %>
                    <div class="field-error">
                      <%= error_messages[:password_confirmation][0] %>
                    </div>
                  <% end %>
                </div>
              </div>
              <!-- End Form Group -->

              <!-- Form Group -->
              <div class="row form-group">
                <label class="col-sm-3 col-form-label input-label">
                  Current Password
                </label>
                <div class="col-sm-9">
                  <%= f.password_field :current_password, autofocus: true, autocomplete: "current_password", class: 'form-control', type: 'password' %>
                  <% if error_messages[:current_password] %>
                    <div class="field-error">
                      <%= error_messages[:current_password][0] %>
                    </div>
                  <% end %>
                </div>
              </div>
              <!-- End Form Group -->

              <!-- Footer -->
              <div class="card-footer d-flex justify-content-end">
                <%= link_to "Back", details_users_path, type: 'button', class: 'btn btn-white mr-2' %>
                <%= f.submit "Update", class: 'btn btn-primary' %>
              </div>
              <!-- End Footer -->
            <% end %>
          </div>
        </div>
        <!-- End Row -->
      </div>
      <!-- End Content Section -->
    </div>
  </div>
</main>

