<div class="mdc-card registration-main">
  <h2 class="mdc-typography--headline5 login-title">
    Change your password
  </h2>
  <hr class="mdc-list-divider divider-margin">
  <%= form_for(@user, local: true, url: update_password_users_path, html: {method: :put}) do |f| %>
    <% error_messages = @user.errors.messages %>
    <div class="form-field password">
      <div class="mdc-typography--subtitle1">
        <%= f.label :new_password %>
        <div class="mdc-text-field mdc-text-field--filled input-field">
          <%= f.password_field :password, autocomplete: "new-password", class: "mdc-text-field__input" %>
        </div>
        <% if @minimum_password_length %>
          <br/>
          <span class='minimum-password'><%= @minimum_password_length %> characters minimum</span>
        <% end %>
      </div>

      <div class="form-field password">
        <div class="mdc-typography--subtitle1">
          <%= f.label :password_confirmation %>
        </div>
        <div class="mdc-text-field mdc-text-field--filled input-field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mdc-text-field__input" %>
        </div>
        <% if error_messages[:password_confirmation] %>
          <div class="field-error">
            <%= error_messages[:password_confirmation][0] %>
          </div>
        <% end %>
      </div>

      <div class="form-field password">
        <div class="mdc-typography--subtitle1">
          <%= f.label :current_password %>
        </div>
        <div class="mdc-text-field mdc-text-field--filled input-field">
          <%= f.password_field :current_password, autocomplete: "current-password", class: "mdc-text-field__input" %>
        </div>

        <% if error_messages[:current_password] %>
          <div class="field-error">
            <%= error_messages[:current_password][0] %>
          </div>
        <% end %>
      </div>
      <div class='btn-main'>
          <%= link_to "Cancel", root_path,  class: 'back secondary-btn float-left' %>
          <button class="mdc-button mdc-button--raised action-btn  float-right">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label"><%= f.submit "Update" %></span>
          </button>
      </div>
    </div>
  <% end %>
</div>
