<main id="content" role="main" class="bg-light">
  <!-- Breadcrumb Section -->
  <div class="bg-navy">
    <div class="container space-1 space-top-lg-2 space-bottom-lg-3">
      <div class="row align-items-center">
        <div class="col">
          <div class="d-none d-lg-block">
            <h1 class="h2 text-white">Personal info</h1>
          </div>

          <!-- Breadcrumb -->
          <ol class="breadcrumb breadcrumb-light breadcrumb-no-gutter mb-0">
            <li class="breadcrumb-item">Account</li>
            <li class="breadcrumb-item active" aria-current="page">Update Profile Picture</li>
          </ol>
          <!-- End Breadcrumb -->
        </div>

        <div class="col-auto">
          <div class="d-none d-lg-block">
            <a class="btn btn-soft-light" href="<%= destroy_user_session_path %>">Log out</a>
          </div>

          <!-- Responsive Toggle Button -->
          <button type="button" class="navbar-toggler btn btn-icon btn-sm rounde-circle d-lg-none"
                  aria-label="Toggle navigation"
                  aria-expanded="false"
                  aria-controls="sidebarNav"
                  data-toggle="collapse"
                  data-target="#sidebarNav">
              <span class="navbar-toggler-default">
                <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z"/>
                </svg>
              </span>
            <span class="navbar-toggler-toggled">
                <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
                </svg>
              </span>
          </button>
          <!-- End Responsive Toggle Button -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumb Section -->

  <!-- Content Section -->
  <div class="container space-2 space-top-lg-0 mt-lg-n10">
    <div class="row">
      <div class="col-lg-3">
        <!-- Navbar -->
        <%= render "layouts/sidenav" %>
        <!-- End Navbar -->
      </div>

      <div class="col-lg-9">
        <!-- Card -->
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Update Profile Picture</h5>
          </div>
          <%= form_for(@user, local: true, url: do_upload_users_path, html: {method: :put}) do |f| %>
            <% error_messages = @user.errors.messages %>
            <!-- Body -->
              <div class="card-body">
                <div>
                  <%= f.file_field :file %>
                </div>
                <div>
                  <%= image_tag current_user.avatar_image.variant(resize_to_fit: [100, 100]) if current_user.avatar_image.attached? %>
                </div>
              </div>
              <!-- End Body -->

              <!-- Footer -->
              <div class="card-footer d-flex justify-content-end">
                <%= link_to "Back", details_users_path, type: 'button', class: 'btn btn-white mr-2' %>
                <%= f.submit "Update", type: 'submit', class: 'btn btn-primary' %>
              </div>
              <!-- End Footer -->
          <% end %>
        </div>
            <!-- End Card -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Content Section -->
  </div>
</main>
