<main id="content" role="main" class="bg-light">
  <!-- Breadcrumb Section -->
  <div class="bg-navy">
    <div class="container space-1 space-top-lg-2 space-bottom-lg-3">
      <div class="row align-items-center">
        <div class="col">
          <div class="d-none d-lg-block">
            <h1 class="h2 text-white">Personal info</h1>
          </div>

          <!-- Breadcrumb -->
          <ol class="breadcrumb breadcrumb-light breadcrumb-no-gutter mb-0">
            <li class="breadcrumb-item">Account</li>
            <li class="breadcrumb-item active" aria-current="page">Update Profile Picture</li>
          </ol>
          <!-- End Breadcrumb -->
        </div>

        <div class="col-auto">
          <div class="d-none d-lg-block">
            <a class="btn btn-soft-light" href="<%= destroy_user_session_path %>">Log out</a>
          </div>

          <!-- Responsive Toggle Button -->
          <button type="button" class="navbar-toggler btn btn-icon btn-sm rounde-circle d-lg-none"
                  aria-label="Toggle navigation"
                  aria-expanded="false"
                  aria-controls="sidebarNav"
                  data-toggle="collapse"
                  data-target="#sidebarNav">
              <span class="navbar-toggler-default">
                <i class="fas fa-bars"></i>
              </span>
            <span class="navbar-toggler-toggled">
                 <i class="fas fa-times"></i>
              </span>
          </button>
          <!-- End Responsive Toggle Button -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumb Section -->

  <!-- Content Section -->
  <div class="container space-2 space-top-lg-0 mt-lg-n10">
    <div class="row">
      <div class="col-lg-3">
        <!-- Navbar -->
        <%= render "layouts/sidenav" %>
        <!-- End Navbar -->
      </div>

      <div class="col-lg-9">
        <!-- Card -->
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Update Profile Picture</h5>
          </div>
          <%= form_for(@user, local: true, url: do_upload_users_path, html: {method: :put}) do |f| %>
            <% error_messages = @user.errors.messages %>
            <!-- Body -->
              <div class="card-body">
                <div>
                  <%= f.file_field :file %>
                </div>
                <% if error_messages[:file] %>
                  <%= error_messages[:file][0] %>
                <% end %>
                <div>
                  <% if current_user.avatar_image.attached? %>
                    <%= image_tag current_user.avatar_image.variant(resize_to_fit: [1280, 720]) %>
                  <% end %>
                </div>
              </div>
              <!-- End Body -->

              <!-- Footer -->
              <div class="card-footer d-flex justify-content-end">
                <%= link_to "Back", details_users_path, type: 'button', class: 'btn btn-white mr-2' %>
                <%= f.submit "Update", type: 'submit', class: 'btn btn-primary' %>
              </div>
              <!-- End Footer -->
          <% end %>
        </div>
            <!-- End Card -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Content Section -->
  </div>
</main>
