<div class="mdc-card registration-main">
  <h2 class="mdc-typography--headline5 login-title">
    Change my password
  </h2>
  <hr class="mdc-list-divider divider-margin">

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
    <% error_messages = resource.errors.messages %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-field password">
      <div class="mdc-typography--subtitle1">
        <%= f.label :password, "New password" %>

        <% if @minimum_password_length %>
          <span class='minimum-password'>(<%= @minimum_password_length %> characters minimum)</span>
        <% end %>
      </div>
      <div class="mdc-text-field mdc-text-field--filled input-field">
        <%= f.password_field :password, autocomplete: "new-password", class: 'mdc-text-field__input' %>
      </div>
      <% if error_messages[:password] %>
        <div class="field-error">
          <%= error_messages[:password][0] %>
        </div>
      <% end %>
    </div>

    <div class="form-field password">
      <div class="mdc-typography--subtitle1">
        <%= f.label :password_confirmation, "Confirm new password" %>
      </div>

      <div class="mdc-text-field mdc-text-field--filled input-field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'mdc-text-field__input' %>
      </div>
      <% if error_messages[:password_confirmation] %>
        <div class="field-error">
          <%= error_messages[:password_confirmation][0] %>
        </div>
      <% end %>
    </div>

    <div class='btn-main'>
      <%= link_to "Sign in", new_session_path(resource_name), class: 'cancel secondary-btn float-left' %>
      <button class="mdc-button mdc-button--raised action-btn float-right">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label"><%= f.submit "Change" %></span>
      </button>
    </div>
  <% end %>
</div>
