<div class="mdc-card registration-main">
  <h2 class="mdc-typography--headline5 login-title">Forgot your password?</h2>
  <hr class="mdc-list-divider divider-margin">
  <span class="mdc-typography--subtitle2 subtitle">
    We will send you password reset instruction once you submit your valid email.
  </span>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
    <% error_messages = resource.errors.messages %>

    <div class="form-field">
      <div class="mdc-typography--subtitle1">
        Enter your email
      </div>
      <div class="mdc-text-field mdc-text-field--filled input-field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'mdc-text-field__input' %>
      </div>
      <% if error_messages[:email] %>
        <div class="field-error">
          <%= error_messages[:email][0] %>
        </div>
      <% end %>
    </div>

    <div class='btn-main'>
      <button class="mdc-button mdc-button--raised action-btn float-left">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label"><%= f.submit "Send" %></span>
      </button>
      <button class="secondary-btn">
        <%= link_to "Sign In", new_session_path(resource_name) %>
      </button>
    </div>
  <% end %>

</div>
