<div class="table-responsive">
	<%= will_paginate @stock_history_records, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
	<table class="table table-thead-bordered table-nowrap table-align-middle">
  		<thead class="thead-light">
			<tr>
				<th>Date</th>
				<th>Day</th>
				<th>Open</th>
				<th>Close</th>
				<th>Volume</th>
				<th>Change Percentage</th>
			</tr>
		</thead>
		<% @stock_history_records.each do |stock_price| %>
			<tr class="<%= @earning_dates[stock_price.date.strftime("%Y-%m-%d")] ? "earning-date" : "normal-day" %>">
				<td> <%= stock_price.date %></td>
				<td> <%= stock_price.day_of_the_week %></td>
				<td> <%= stock_price.open_price %></td>
				<td> <%= stock_price.close_price %></td>
				<td> <%= stock_price.volume %></td>
				<td> <%= stock_price.price_change_percentage&.round(2) %></td>
			</tr>
		<% end %>
	</table>
</div>