<div class="erb-body">
  <div class="mdc-card course-main">
    <div class="course-title">
      <span class="mdc-typography--headline5">Categories</span>
      <span>
        <%= link_to 'New Category', new_admin_category_path, class: 'mdc-button mdc-button--raised action-btn' %>
      </span>
    </div>

    <div class="course-table">
      <div class="mdc-data-table resp-table-large">
        <table class="mdc-data-table__table" aria-label="Courses">
          <thead>
          <tr class="mdc-data-table__header-row">
            <th class="mdc-data-table__header-cell mdc-typography--subtitle1" role="columnheader" scope="col">Title</th>
            <th class="mdc-data-table__header-cell mdc-typography--subtitle1" role="columnheader" scope="col">Description</th>
            <th class="mdc-data-table__header-cell mdc-typography--subtitle1" role="columnheader" scope="col">No of courses</th>
            <th class="mdc-data-table__header-cell mdc-typography--subtitle1 action-head" role="columnheader" scope="col" colspan="3">Action</th>
          </tr>
          </thead>

          <tbody class="mdc-data-table__content">
          <% @categories.each do |category| %>
            <tr class="mdc-data-table__row">
              <td class="mdc-data-table__cell"><%= category.title %></td>
              <td class="mdc-data-table__cell"><%= category.description %></td>
              <td class="mdc-data-table__cell"><%= category.courses.count %></td>
              <td class="mdc-data-table__cell action">
                <%= link_to 'View', admin_category_path(category), class: 'back secondary-btn-course' %>
              </td>
              <td class="mdc-data-table__cell action">
                <%= link_to 'Edit', edit_admin_category_path(category), class: 'back secondary-btn-course'  %>
              </td>
              <td class="mdc-data-table__cell action">
                <%= link_to 'Delete', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure you want to delete this category?' }, class: 'cancel secondary-btn-course' %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


