<div class="erb-body">
  <div class="course-main">
    <div class="course-title">
      <span class="mdc-typography--headline5">List of courses</span>
      <span>
    <%= link_to 'Add New Course', new_course_path, class: 'mdc-button mdc-button--raised action-btn' %>
  </span>
    </div>
    <hr class="mdc-list-divider divider-margin">
    <div class="courses">
      <% @courses.each do |course| %>
        <div class="mdc-card course-card">
          <div class="user-details">
            <div class="mdc-typography--subtitle1 user-fields">
              <div class="field-label">
                Title
              </div>
              <div>
                <%= link_to course.title, course, class: 'mdc-button mdc-button__label' %>
              </div>
            </div>

            <div class="mdc-typography--subtitle1 user-fields">
              <div class="field-label">
                Body
              </div>
              <div>
                <%= course.body %>
              </div>
            </div>

            <div class="mdc-typography--subtitle1 user-fields">
              <div class="field-label">
                Creator
              </div>
              <div>
                <%= course.owner.full_name %>
              </div>
            </div>

            <div class="mdc-typography--subtitle1 user-fields">
              <div class="field-label">
                Website
              </div>
              <div>
                <%= course.website %>
              </div>
            </div>

            <div class="mdc-typography--subtitle1 user-fields">
              <div class="field-label">
                Course
              </div>
              <div>
                <%= course.course_for %>
              </div>
            </div>

            <div class="mdc-typography--subtitle1 user-fields">
              <div class="field-label">
                Price
              </div>
              <div>
                <%= course.price %>
              </div>
            </div>

            <div class="mdc-typography--subtitle1 user-fields">
              <div class="field-label">
                Category
              </div>
              <div>
                <%= course.category_id %>
              </div>
            </div>

            <div class="mdc-typography--subtitle1 user-fields">
              <div class="field-label">
                Approved
              </div>
              <div>
                <%= course.approved_text %>
              </div>
            </div>
          </div>

          <div class="mdc-card__actions">
            <%= link_to "View", course, class: 'back secondary-btn-course' %>
            <%= link_to 'Edit', edit_course_path(course), class: 'back secondary-btn-course' %>
            <%= link_to 'Delete', course, method: :delete, data: {confirm: 'Are you sure?'}, class: 'cancel secondary-btn-course' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


