<%= form_with(model: [:teaching, course], local: true) do |form| %>
  <% error_messages =  course.errors.messages %>

  <div class="form-field">
    <div class="mdc-typography--subtitle1">
      <%= form.label :title %>
    </div>
    <div class="mdc-text-field mdc-text-field--filled input-field">
      <%= form.text_field :title, class: 'mdc-text-field__input' %>
    </div>
    <% if error_messages[:title] %>
      <div class="field-error">
        <%= error_messages[:title][0] %>
      </div>
    <% end %>
  </div>

  <div class="form-field">
    <div class="mdc-typography--subtitle1">
      <%= form.label :body %>
    </div>
    <div class="mdc-text-field--textarea input-field">
      <%= form.text_area :body, class: 'course-textarea' %>
    </div>
  </div>

  <div class="form-field">
    <div class="mdc-typography--subtitle1">
      <%= form.label :short_description %>
    </div>
    <div class="mdc-text-field--textarea input-field">
      <%= form.text_area :short_description, class: 'course-textarea' %>
    </div>
  </div>

  <div class="form-field">
    <div class="mdc-typography--subtitle1">
      <%= form.label :course_highlights %>
    </div>
    <div class="mdc-text-field--textarea input-field">
      <%= form.text_area :course_highlights, class: 'course-textarea' %>
    </div>
  </div>

  <div class="form-field">
    <div class="mdc-typography--subtitle1">
      <%= form.label :website %>
    </div>
    <div class="mdc-text-field mdc-text-field--filled input-field">
      <%= form.text_field :website, class: 'mdc-text-field__input' %>
    </div>
  </div>

  <div class="form-field">
    <div class="mdc-typography--subtitle1">
      <%= form.label :course_for %>
    </div>
    <div class="mdc-text-field--textarea input-field">
      <%= form.text_area :course_for, class: 'course-textarea' %>
    </div>
  </div>

  <div class="form-field">
    <div class="mdc-typography--subtitle1">
      <%= form.label :price %>
    </div>
    <div class="mdc-text-field mdc-text-field--filled input-field">
      <%= form.text_field :price, class: 'mdc-text-field__input' %>
    </div>
  </div>

  <div class="form-field">
    <div class="mdc-typography--subtitle1">
      <%= form.label :category %>
    </div>
    <div class="mdc-text-field mdc-text-field--filled input-field course-select">
      <%= form.select :category_id, @categories.collect{|p| [ p.title, p.id ] }, class: 'course-select-list' %>
    </div>
  </div>

  <div class="form-field">
    <div class="mdc-typography--subtitle1">
      <%= form.label :duration %>
    </div>
    <div class="mdc-text-field mdc-text-field--filled input-field course-select">
      <%= form.text_field :duration, class: 'mdc-text-field__input' %>
    </div>
  </div>

  <div class="form-field">
    <div class="mdc-typography--subtitle1">
      <%= form.label :no_of_lessions %>
    </div>
    <div class="mdc-text-field mdc-text-field--filled input-field course-select">
      <%= form.text_field :no_of_lessions, class: 'mdc-text-field__input' %>
    </div>
  </div>

  <div class="form-field">
    <div class="mdc-typography--subtitle1">
      <%= form.label :level %>
    </div>
    <div class="mdc-text-field mdc-text-field--filled input-field course-select">
      <%= form.select :level, @levels, class: 'course-select-list' %>
    </div>
  </div>

  <div class="form-field">
    <div class="mdc-typography--subtitle1">
      <%= form.label :cover_image %>
    </div>
    <div class="mdc-text-field mdc-text-field--filled input-field course-select">
      <%= form.file_field :cover_image %>
    </div>
  </div>

  <div class='btn-main'>
    <%= link_to 'Back', teaching_courses_path, class: 'back secondary-btn float-left' %>
    <button class="mdc-button mdc-button--raised action-btn float-right">
      <div class="mdc-button__ripple"></div>
      <span class="mdc-button__label">Save</span>
    </button>
  </div>
<% end %>
