<%= form_with(model: [:teaching, course], local: true) do |form| %>
  <% error_messages = course.errors.messages %>
  <div class="pl-4 pr-4 space-top-1">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-md-6 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :title %></label>
        <%= form.text_field :title, autofocus: true, autocomplete: "full_name", class: 'form-control', type: 'text', id: 'full_name', placeholder: 'Title' %>
        <% if error_messages[:title] %>
          <div class="field-error">
            <%= error_messages[:title][0] %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :website %></label>
        <%= form.text_field :website, autofocus: true, autocomplete: "website", class: 'form-control', type: 'text', id: 'website', placeholder: 'Website' %>
        <% if error_messages[:website] %>
          <div class="field-error">
            <%= error_messages[:website][0] %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :short_description %></label>
        <%= form.text_area :short_description, autofocus: true, autocomplete: "short_description", class: 'form-control', type: 'text', id: 'short_description', placeholder: 'Short Description' %>
        <% if error_messages[:short_description] %>
          <div class="field-error">
            <%= error_messages[:short_description][0] %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :course_highlights %></label>
        <%= form.text_area :course_highlights, autofocus: true, autocomplete: "course_highlights", class: 'form-control', type: 'text', id: 'course_highlights', placeholder: 'Course Highlights' %>
        <% if error_messages[:course_highlights] %>
          <div class="field-error">
            <%= error_messages[:course_highlights][0] %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :body %></label>
        <%= form.text_area :body, autofocus: true, autocomplete: "body", class: 'form-control', type: 'text', id: 'body', placeholder: 'Body' %>
        <% if error_messages[:body] %>
          <div class="field-error">
            <%= error_messages[:body][0] %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :course_for %></label>
        <%= form.text_area :course_for, autofocus: true, autocomplete: "course_for", class: 'form-control', type: 'text', id: 'course_for', placeholder: 'Course For' %>
        <% if error_messages[:course_for] %>
          <div class="field-error">
            <%= error_messages[:course_for][0] %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :price %></label>
        <%= form.text_field :price, autofocus: true, autocomplete: "price", class: 'form-control', type: 'text', id: 'price', placeholder: 'Price' %>
        <% if error_messages[:price] %>
          <div class="field-error">
            <%= error_messages[:price][0] %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :category %></label>
        <%= form.select :category_id, @categories.collect { |p| [p.title, p.id] }, autofocus: true, autocomplete: "category_id", class: 'form-control', type: 'text', id: 'category_id', placeholder: 'Category' %>
        <% if error_messages[:category_id] %>
          <div class="field-error">
            <%= error_messages[:category_id][0] %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :duration %></label>
        <%= form.text_field :duration, autofocus: true, autocomplete: "duration", class: 'form-control', type: 'text', id: 'duration', placeholder: 'Duration' %>
        <% if error_messages[:duration] %>
          <div class="field-error">
            <%= error_messages[:duration][0] %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :no_of_lessions %></label>
        <%= form.text_field :no_of_lessions, autofocus: true, autocomplete: "no_of_lessions", class: 'form-control', type: 'text', id: 'no_of_lessions', placeholder: 'No. of Lessons' %>
        <% if error_messages[:no_of_lessions] %>
          <div class="field-error">
            <%= error_messages[:no_of_lessions][0] %>
          </div>
        <% end %>
      </div>
      <div class="col-md-6 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :level %></label>
        <%= form.select :level, @categories.collect { |p| [p.title, p.id] }, autofocus: true, autocomplete: "level", class: 'form-control', type: 'text', id: 'level', placeholder: 'Level' %>
        <% if error_messages[:level] %>
          <div class="field-error">
            <%= error_messages[:level][0] %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :cover_image %></label>
        <%= form.file_field :cover_image %>
      </div>

      <div class="col-12 row align-items-center mb-3 mt-4 card-footer">
        <div class="col-6 mb-sm-0 pl-4">
          <%= link_to "Back", teaching_courses_path, class: 'font-size-1 font-weight-bold text-muted content-centered' %>
        </div>
        <div class="col-6 text-right">
          <%= form.submit "Save", class: "btn btn-sm btn-primary" %>
        </div>
      </div>

    </div>
  </div>
  <!-- End Button -->
<% end %>
