<%= form_with(model: [:teaching, course], local: true) do |form| %>
  <% error_messages = course.errors.messages %>
  <div class="pl-4 pr-4 space-top-1">
    <div class="row">
      <div class="col-md-6 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :title %></label>
        <%= form.text_field :title, autofocus: true, autocomplete: "full_name", class: 'form-control', type: 'text', id: 'full_name', placeholder: 'Title' %>
        <% if error_messages[:title] %>
          <div class="field-error">
            <%= error_messages[:title][0] %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :website %></label>
        <%= form.text_field :website, autofocus: true, autocomplete: "website", class: 'form-control', type: 'text', id: 'website', placeholder: 'Website' %>
        <% if error_messages[:website] %>
          <div class="field-error">
            <%= error_messages[:website][0] %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :short_description %></label>
        <%= form.text_area :short_description, autofocus: true, autocomplete: "short_description", class: 'form-control', type: 'text', id: 'short_description', placeholder: 'Short Description' %>
        <% if error_messages[:short_description] %>
          <div class="field-error">
            <%= error_messages[:short_description][0] %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :course_targeted_for %></label>
        <%= form.text_area :course_for, autofocus: true, autocomplete: "course_for", class: 'form-control', type: 'text', id: 'course_for', placeholder: 'Your audience of the course' %>
        <% if error_messages[:course_for] %>
          <div class="field-error">
            <%= error_messages[:course_for][0] %>
          </div>
        <% end %>
      </div>

      <div class="col-md-12 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :course_highlights %></label>
        <%= form.rich_text_area :course_highlights, autofocus: true, autocomplete: "course_highlights", id: 'course_highlights', placeholder: 'Highlight the main feature of this course' %>
        <% if error_messages[:course_highlights] %>
          <div class="field-error">
            <%= error_messages[:course_highlights][0] %>
          </div>
        <% end %>
      </div>

      <div class="col-md-12 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :course_description %></label>
        <%= form.rich_text_area :body, autofocus: true, autocomplete: "body", id: 'body', placeholder: 'This is the landing page description of the course.' %>
        <% if error_messages[:body] %>
          <div class="field-error">
            <%= error_messages[:body][0] %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :original_price %></label>
        <%= form.text_field :price, autofocus: true, class: 'form-control', type: 'text', placeholder: 'Fees for the course without discount' %>
        <% if error_messages[:price] %>
          <div class="field-error">
            <%= error_messages[:price][0] %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :discount_percentage %></label>
        <%= form.text_field :discount_percentage, autofocus: true, class: 'form-control', type: 'text', placeholder: '0 to 100' %>
        <% if error_messages[:discount_percentage] %>
          <div class="field-error">
            <%= error_messages[:discount_percentage][0] %>
          </div>
        <% end %>
      </div>


      <div class="col-md-6 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :category %></label>
        <%= form.select :category_id, @categories.collect { |p| [p.title, p.id] }, autofocus: true, autocomplete: "category_id", class: 'form-control custom-select', type: 'text', id: 'category_id', placeholder: 'Category' %>
        <% if error_messages[:category_id] %>
          <div class="field-error">
            <%= error_messages[:category_id][0] %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :duration %></label>
        <%= form.text_field :duration, autofocus: true, autocomplete: "duration", class: 'form-control', type: 'text', id: 'duration', placeholder: 'Duration' %>
        <% if error_messages[:duration] %>
          <div class="field-error">
            <%= error_messages[:duration][0] %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :no_of_lessons %></label>
        <%= form.text_field :no_of_lessons, autofocus: true, autocomplete: "no_of_lessons", class: 'form-control', type: 'text', id: 'no_of_lessons', placeholder: 'No. of Lessons' %>
        <% if error_messages[:no_of_lessons] %>
          <div class="field-error">
            <%= error_messages[:no_of_lessons][0] %>
          </div>
        <% end %>
      </div>
      <div class="col-md-6 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :level %></label>
        <%= form.select :level, @levels, autofocus: true, autocomplete: "level", class: 'form-control custom-select', type: 'text', id: 'level', placeholder: 'Level' %>
        <% if error_messages[:level] %>
          <div class="field-error">
            <%= error_messages[:level][0] %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        <label class="input-label" for="full_name"> <%= form.label :cover_image %></label>
        <%= form.file_field :cover_image %>
        <% if error_messages[:cover_image] %>
          <div class="field-error">
            <%= error_messages[:cover_image][0] %>
          </div>
        <% end %>
      </div>

      <div class="col-12 row align-items-center mb-5 mt-4">
        <div class="col-6 mb-sm-0 pl-4">
          <%= link_to "Back", teaching_courses_path, class: 'font-size-1 font-weight-bold text-muted content-centered' %>
        </div>
        <div class="col-6 text-right">
          <%= form.submit "Save", class: "btn btn-sm btn-primary" %>
        </div>
      </div>

    </div>
  </div>
  <!-- End Button -->
<% end %>
