<!-- Hero Section -->
<div class="container space-2">
  <div class="row justify-content-lg-between align-items-lg-center">
    <div class="col-sm-10 col-lg-5 mb-7 mb-lg-0">
      <img class="img-fluid" src="/assets/illustrations/reading.svg" alt="Image Description">
    </div>

    <div class="col-md-6">
      <div class="mb-5">
        <h1 class="display-4 mb-3">
          Unlock your
          <br>
          <span class="text-primary font-weight-bold">
            <span class="js-text-animation"></span>
          </span>
        </h1>
        <p class="lead">With our platform, you can quantify your skills, grow in your role and stay relevant on critical topics.</p>
      </div>

      <div class="d-sm-flex align-items-sm-center flex-sm-wrap">
        <a class="btn btn-primary transition-3d-hover mb-2" href="#">Start a Free Trial</a>

        <div class="mx-2"></div>

        <!-- Fancybox -->
        <a class="js-fancybox video-player video-player-btn media align-items-center text-dark mb-2" href="javascript:;"
           data-hs-fancybox-options='{
             "src": "//youtube.com/0qisGSwZym4",
             "caption": "Front - Responsive Website Template",
             "speed": 700,
             "buttons": ["fullScreen", "close"],
             "youtube": {
               "autoplay": 1
             }
           }'>
          <span class="video-player-icon shadow-soft mr-3">
            <i class="fa fa-play"></i>
          </span>
          <span class="media-body">
            How it works
          </span>
        </a>
        <!-- End Fancybox -->
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->
<div class="erb-body">
  <div class="mdc-card course-main">
    <div class="course-title">
      <span class="mdc-typography--headline5">List of courses</span>
      <span>
        <%= link_to 'Add New Course', new_teaching_course_path, class: 'mdc-button mdc-button--raised action-btn' %>
      </span>
    </div>

    <div class="course-table">
      <div class="mdc-data-table resp-table-large">
        <table class="mdc-data-table__table" aria-label="Courses">
          <thead>
          <tr class="mdc-data-table__header-row">
            <th class="mdc-data-table__header-cell mdc-typography--subtitle1" role="columnheader" scope="col">Title</th>
            <th class="mdc-data-table__header-cell mdc-typography--subtitle1" role="columnheader" scope="col">Website</th>
            <th class="mdc-data-table__header-cell mdc-typography--subtitle1" role="columnheader" scope="col">Price</th>
            <th class="mdc-data-table__header-cell mdc-typography--subtitle1" role="columnheader" scope="col">Category</th>
            <th class="mdc-data-table__header-cell mdc-typography--subtitle1" role="columnheader" scope="col">Approved</th>
            <th class="mdc-data-table__header-cell mdc-typography--subtitle1 action-head" role="columnheader" scope="col" colspan="3">Action</th>
          </tr>
          </thead>

          <tbody class="mdc-data-table__content">
          <% @courses.each do |course| %>
            <tr class="mdc-data-table__row">
              <td class="mdc-data-table__cell">
                <%= link_to course.title, course.show_url, class: 'mdc-button mdc-button__label', :target => "_blank" %>
              </td>
              <td class="mdc-data-table__cell"><%= course.website %></td>
              <td class="mdc-data-table__cell"><%= course.price %></td>
              <td class="mdc-data-table__cell"><%= course.category.title %></td>
              <td class="mdc-data-table__cell"><%= course.approved_text %></td>
              <td class="mdc-data-table__cell action">
                <%= link_to "View", teaching_course_path(course), class: 'back secondary-btn-course' %>
              </td>
              <td class="mdc-data-table__cell action">
                <%= link_to 'Edit', edit_teaching_course_path(course), class: 'back secondary-btn-course' %>
              </td>
              <td class="mdc-data-table__cell action">
                <%= link_to 'Delete', teaching_course_path(course), method: :delete, data: {confirm: 'Are you sure you want to delete the course?'}, class: 'cancel secondary-btn-course' %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


