<div class="card mb-3 mb-lg-5">
  <div class="card-header">
    <h5 class="card-title">
      Chapters
    </h5>
    <span>
        <a href="<%= new_teaching_course_chapter_path(@course) %>" class="btn btn-xs btn-no-focus btn-primary">
          <i class="fas fa-pen mr-1"></i>
           Add New Chapter
        </a>
    </span>
  </div>
  <div class="card-body">
    <% @chapters.each do |chapter| %>
      <div class="card border mb-1">
        <div class="card-header">
          <%= chapter.title %> |
          <%= pluralize(chapter.course_contents.count, 'lecture') %> |
          <%= link_to 'Edit', edit_teaching_course_chapter_path(@course, chapter) %> |
          <%= link_to 'View', teaching_course_chapter_path(@course, chapter) %> |
          <%= link_to 'Delete', teaching_course_chapter_path(@course, chapter), method: :delete, data: { confirm: 'Are you sure you want to delete this chapter?' } %>
          <%= link_to "Add new content for #{chapter.title}",  new_teaching_course_chapter_course_content_path(@course, chapter) %>
        </div>
        <div class="card-body p-0">
          <%= render "teaching/course_contents/index", :course_contents => chapter.course_contents, :chapter => chapter %>
        </div>
      </div>
    <% end %>
  </div>
</div>
