<div class="enrollment-title">
  <span class="mdc-typography--headline5">Enroll at <%= @course.title %></span>
</div>

<div class="enrollment-table">
  <%= form_with(url: admin_course_enroll_users_path(@course), local: true) do |form| %>
    <div class="mdc-data-table resp-table">
      <table class="mdc-data-table__table" aria-label="Enrollments">
        <thead>
        <tr class="mdc-data-table__header-row">
          <th class="mdc-data-table__header-cell mdc-typography--subtitle1" role="columnheader" scope="col">S.N</th>
          <th class="mdc-data-table__header-cell mdc-typography--subtitle1" role="columnheader" scope="col">Full name
          </th>
          <th class="mdc-data-table__header-cell mdc-typography--subtitle1" role="columnheader" scope="col">Email</th>
          <th class="mdc-data-table__header-cell mdc-typography--subtitle1" role="columnheader" scope="col">Phone</th>
        </tr>
        </thead>
        <tbody class="mdc-data-table__content">
        <% (0..4).to_a.each do |row| %>
          <tr class="mdc-data-table__row">
            <td class="mdc-data-table__cell"><%= row + 1 %></td>
            <td class="mdc-data-table__cell"><input type="text" name="enroll_request[<%= row %>][full_name]"></td>
            <td class="mdc-data-table__cell"><input type="text" name="enroll_request[<%= row %>][email]"></td>
            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
              <input type="text" name="enroll_request[<%= row %>][phone]" placeholder="Optional"></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div>
      <button class="mdc-button mdc-button--raised action-btn">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">Add</span>
      </button>
    </div>
  <% end %>
</div>
