<!-- Hero Section -->
<div class="bg-navy bg-img-hero">
  <div class="container space-1">
    <div class="w-lg-65 text-center mx-lg-auto">
      <span class="badge badge-soft-light badge-pill font-size-1 py-3 px-4 mb-3">List of courses</span>
    </div>
  </div>
</div>
<!-- End Hero Section -->

<div class="container space-1">
  <!-- Card -->
  <% if @courses.present? %>
    <div class="card mx-lg-auto">
      <!-- Table -->
      <div class="table-responsive">
        <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle">
          <thead class="thead-light">
          <tr>
            <th>Title</th>
            <th>User</th>
            <th>Website</th>
            <th>Price</th>
            <th>Category</th>
            <th>Is approved?</th>
            <th style="width: 8%;">Action</th>
          </tr>
          </thead>
          <tbody>
          <% @courses.each do |course| %>
            <tr>
              <td>
                <%= link_to course.title, course.show_url, :target => "_blank", class: 'text-body' %>
              </td>
              <td><%= course.owner.full_name %></td>
              <td><%= course.website %></td>
              <td><%= course.price %></td>
              <td><%= course.category.title %></td>
              <td><span class="badge badge-soft-secondary custom-align-center"><%= course.approved_text %></span></td>
              <% if course.approved? %>
                <td>
                  <%= link_to 'Disapprove', admin_course_disapprove_path(course), class: 'btn btn-xs btn-outline-danger' %>
                </td>
              <% else %>
                <td>
                  <%= link_to "Approve", admin_course_approve_path(course), class: 'btn btn-xs btn-outline-success' %>
                </td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
        <!-- End Table -->
      </div>
      <!-- End Card -->
      <!-- SVG Elements -->
      <figure class="max-w-13rem w-100 position-absolute bottom-0 right-0 z-index-n1">
        <div class="mb-n7 mr-n7">
          <img class="img-fluid" src="<%= asset_path("components/dots-3.svg") %>" alt="Image Description">
        </div>
      </figure>
      <!-- End SVG Elements -->
    </div>
  <% else %>
    <div class="card mx-lg-auto">
      <!-- Search -->
      <div class="container space-2">
        <div class="row justify-content-md-between align-items-md-center pl-4 pr-4">
          <div class="col-md-5 mb-3 mb-md-0 text-align-middle">
            <figure class="max-w-8rem mx-auto">
              <img class="img-fluid" src="/assets/icons/icon-36.svg" alt="SVG">
            </figure>
          </div>

          <div class="col-md-7 col-lg-6">
            <div class="row justify-content-md-between align-items-md-center">
              <div class="col-lg-12  space-bottom-1">
                <h4 class="h5 mb-0 text-muted">Looks Like there are no courses here!</h4>
              </div>
              <div class="col-lg-12 ">
                <form class="input-group input-group-merge">
                  <input type="search" class="form-control" placeholder="Find a course" aria-label="Find a course" aria-describedby="searchApp">
                  <div class="input-group-append">
          <span class="input-group-text" id="searchApp">
            <i class="fas fa-search"></i>
          </span>
                  </div>
                </form>
              </div>
              <div class="col-lg-12 space-top-1 text-right">
                <%= link_to "Go Home", root_path, class: 'font-size-1 btn btn-ghost-primary' %>
              </div>
            </div>
            <!-- Input -->

            <!-- End Input -->
          </div>
        </div>
      </div>
      <!-- End Search -->
    </div>
  <% end %>
</div>
