<ul>
	<li>
		<%= link_to "Home", root_path %>
	</li>
	<li>
		<%= link_to "View account details", details_users_path %>
	</li>
	<li>
		<%= link_to "Edit account", edit_user_registration_path %>
	</li>
	<li>
		<%= link_to "Change password", edit_password_users_path %>
	</li>
	<li>
		<%= link_to "Cancel Account", cancel_account_users_path %>
	</li>
	<li>
		<%= link_to "Logout", destroy_user_session_path %>
	</li>
</ul>


