<header id="header" class="header">
  <div class="header-section">
    <div id="logo" class="container">
      <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-lg">
        <!-- Logo -->
        <a class="navbar-brand" href="<%= root_path %>" aria-label="Front">
          <img src="<%= asset_path("logos/Updrake.svg") %>" alt="Updrake">
        </a>
        <!-- End Logo -->

        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn btn-icon btn-sm rounded-circle"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="nav"
                data-toggle="collapse"
                data-target="#nav">
          <span class="navbar-toggler-default">
                <i class="fas fa-bars"></i>
              </span>
          <span class="navbar-toggler-toggled">
                 <i class="fas fa-times"></i>
              </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Navigation -->
        <div id="nav" class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <% if current_user.is_admin? %>
              <!-- Dropdown admin menu-->
              <li class="hs-has-sub-menu navbar-nav-item"
                  data-hs-mega-menu-item-options='{
                  "desktop": {
                    "position": "left"
                  }
                }'>
                <a id="admin" class="hs-mega-menu-invoker nav-link nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="pagesSubMenu">Admin</a>

                <div id="pagesSubMenu" class="hs-sub-menu dropdown-menu" aria-labelledby="pagesMegaMenu" style="min-width: 230px;">
                  <a class="dropdown-item" href="<%= admin_courses_path(approved: true) %>">Approved Coures</a>
                  <a class="dropdown-item" href="<%= admin_courses_path(approved: false) %>">Unapproved Courses</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="<%= admin_categories_path %>">Categories</a>
                </div>
              </li>
              <!-- End Dropdown -->
            <% end %>

            <li class="navbar-nav-item">
              <a class="nav-link" href="<%= start_teaching_teaching_courses_path %>">Start Teaching</a>
            </li>

            <% if current_user.courses.count > 0 %>
              <!-- Dropdown teacher menu -->
              <li class="hs-has-sub-menu navbar-nav-item"
                  data-hs-mega-menu-item-options='{
                    "desktop": {
                      "position": "left"
                    }
                  }'>
                <a id="admin" class="hs-mega-menu-invoker nav-link nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="pagesSubMenu">Teaching</a>

                <div id="pagesSubMenu" class="hs-sub-menu dropdown-menu" aria-labelledby="pagesMegaMenu" style="min-width: 230px;">
                  <a class="dropdown-item" href="<%= teaching_courses_path %>">My Courses</a>
                  <a class="dropdown-item" href="<%= new_teaching_course_path%>">Create a new Course</a>
                </div>
              </li>
              <!-- End Dropdown teacher menu -->
            <% end %>

            <!-- Dropdown -->
            <li class="hs-has-sub-menu navbar-nav-item"
                data-hs-mega-menu-item-options='{
                  "desktop": {
                    "position": "left"
                  }
                }'>
              <a id="courses" class="hs-mega-menu-invoker nav-link nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="pagesSubMenu">Study Room</a>

              <div id="pagesSubMenu" class="hs-sub-menu dropdown-menu" aria-labelledby="pagesMegaMenu" style="min-width: 230px;">
                <a class="dropdown-item" href="/enrolled_courses">
                  Enrolled Courses
                </a>
                <a class="dropdown-item" href="/courses">
                  Explore Courses
                </a>
                <a class="dropdown-item" href="/notebooks">
                  My Notes
                </a>
              </div>
            </li>
            <!-- End Dropdown -->

            <!-- Pages -->
            <li class="hs-has-sub-menu navbar-nav-item">
              <a id="pagesMegaMenu" class="hs-mega-menu-invoker nav-link nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="pagesSubMenu">
                My Account
              </a>

              <!-- Pages - Submenu -->
              <div id="settings" class="hs-sub-menu dropdown-menu" aria-labelledby="settingsMegaMenu" style="min-width: 230px;">
                <a class="dropdown-item" href="<%= details_users_path %>">
                  <i class="fas fa-id-card dropdown-item-icon"></i>
                  Personal Info
                </a>
                <a class="dropdown-item" href="<%= edit_user_registration_path %>">
                  <i class="fas fa-pen dropdown-item-icon"></i>
                  Edit Info
                </a>
                <a class="dropdown-item" href="/users/qualifications">
                  <i class="fas fa-star dropdown-item-icon"></i>
                  Edit Qualifications
                </a>
                <a class="dropdown-item" href="<%= edit_password_users_path %>">
                  <i class="fas fa-shield-alt dropdown-item-icon"></i>
                  Password &amp; Security
                </a>
                <a class="dropdown-item" href="<%= upload_users_path %>">
                  <i class="fas fa-camera dropdown-item-icon"></i>
                  Change Profile Picture
                </a>
                <a class="dropdown-item" href="<%= cancel_account_users_path %>">
                  <i class="fas fa-trash dropdown-item-icon"></i>
                  Delete Account
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="<%= destroy_user_session_path %>"><i class="fas fa-sign-out-alt dropdown-item-icon"></i>Logout</a>
              </div>
            </li>
          </ul>
        </div>
        <!-- End Navigation -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
