<div class="mdc-drawer-app-content custom-app-bar">
  <header class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button nav-btn" aria-label="Open navigation menu" onclick="toggleDrawer()">menu</button>
        <span class="mdc-top-app-bar__title">VC Room</span>
      </section>
    </div>
  </header>
</div>

<aside class="mdc-drawer mdc-drawer--open mdc-drawer--modal mdc-top-app-bar--fixed-adjust" id="slider">
  <div class="mdc-drawer__content">
    <nav class="mdc-list">
      <a class="mdc-list-item" href='<%= root_path %>'>
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
        <span class="mdc-list-item__text">Home</span>
      </a>
      <% if current_user.is_admin? %>
        <hr class="mdc-list-divider">
        <a class="mdc-list-item" href='<%= admin_courses_path(approved: true) %>'>
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">check_box</i>
          <span class="mdc-list-item__text">Approved courses</span>
        </a>
        <a class="mdc-list-item" href='<%= admin_courses_path(approved: false) %>'>
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">indeterminate_check_box
          </i>
          <span class="mdc-list-item__text">Unapproved courses</span>
        </a>
        <a class="mdc-list-item" href='<%= admin_categories_path %>'>
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">category
          </i>
          <span class="mdc-list-item__text">Categories</span>
        </a>
      <% end %>
      <hr class="mdc-list-divider">
      <a class="mdc-list-item" href='/teaching/courses/start_journey'>
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">local_library</i>
        <span class="mdc-list-item__text">Teach a course</span>
      </a>
      <a class="mdc-list-item" href='/teaching/courses'>
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">school</i>
        <span class="mdc-list-item__text">My Courses</span>
      </a>
      <a class="mdc-list-item" href='/enrolled_courses'>
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">how_to_reg
        </i>
        <span class="mdc-list-item__text">My Enrolled Courses</span>
      </a>
      <hr class="mdc-list-divider">
      <a class="mdc-list-item" href='<%= details_users_path %>'>
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">account_circle</i>
        <span class="mdc-list-item__text">Account Details</span>
      </a>
      <a class="mdc-list-item" href='<%= upload_users_path %>'>
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">cloud_upload</i>
        <span class="mdc-list-item__text">Upload Profile Picture</span>
      </a>
      <a class="mdc-list-item" href='<%= edit_user_registration_path %>'>
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">create</i>
        <span class="mdc-list-item__text">Edit Account</span>
      </a>
      <a class="mdc-list-item" href='<%= edit_password_users_path %>'>
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">vpn_key
        </i>
        <span class="mdc-list-item__text">Change Password</span>
      </a>
      <a class="mdc-list-item" href='<%= cancel_account_users_path %>'>
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">delete</i>
        <span class="mdc-list-item__text">Delete Account</span>
      </a>
      <hr class="mdc-list-divider">
      <a class="mdc-list-item" href='<%= destroy_user_session_path %>'>
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">exit_to_app</i>
        <span class="mdc-list-item__text">Logout</span>
      </a>
    </nav>
  </div>
</aside>

<div class='backdrop' onclick="hideDrawer()"></div>




