<header id="header" class="header left-aligned-navbar">
  <div class="header-section">
    <div id="logo" class="container">
      <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-lg">
        <!-- Logo -->
        <a class="navbar-brand" href="<%= root_path %>" aria-label="Front">
          <img src="<%= asset_path("logos/logo.svg") %>" alt="Logo">
        </a>
        <!-- End Logo -->
        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn btn-icon btn-sm rounded-circle"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="nav"
                data-toggle="collapse"
                data-target="#nav">
          <span class="navbar-toggler-default">
            <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z"/>
            </svg>
          </span>
          <span class="navbar-toggler-toggled">
            <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
            </svg>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Navigation -->
        <div id="nav" class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <!-- Search Form -->
            <li class="d-none d-lg-inline-block navbar-nav-item flex-grow-1 mx-2">
              <form class="input-group input-group-sm input-group-merge w-75">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-search"></i>
                  </div>
                </div>
                <input type="text" class="form-control" placeholder="What do you want to learn?" aria-label="What do you want to learn?">
              </form>
            </li>
            <!-- End Search Form -->
            <li class="navbar-nav-item">
              <a class="nav-link" href="<%= root_path %>">
                <button type="button" class="btn btn-soft-secondary btn-icon btn-xs">
                  <i class="fas fa-home"></i>
                </button>
              </a>
            </li>
            <li class="navbar-nav-item">
              <a class="nav-link" href="<%= start_teaching_teaching_courses_path %>">
                Teach A Course
              </a>
            </li>
            <li class="navbar-nav-item">
              <a class="nav-link" href="/courses">
                Courses
              </a>
            </li>
            <li class="navbar-nav-item">
              <a class="nav-link" href="<%= new_user_session_path %>">
                Sign in
              </a>
            </li>

            <li class="nav-item navbar-nav-last-item">
              <a class="btn btn-sm btn-primary transition-3d-hover js-hs-unfold-invoker" href="javascript:;"
                 data-hs-unfold-options='{
                  "target": "#sidebarContent",
                  "type": "css-animation",
                  "animationIn": "fadeInRight",
                  "animationOut": "fadeOutRight",
                  "hasOverlay": "rgba(55, 125, 255, 0.1)",
                  "smartPositionOff": true
                 }'>
               Get Started
              </a>
            </li>
            <!-- End Button -->
          </ul>
        </div>
        <!-- End Navigation -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- Account Sidebar Navigation -->
<aside id="sidebarContent" class="hs-unfold-content sidebar">
  <div class="sidebar-scroller">
    <div class="sidebar-container">
      <div class="sidebar-footer-offset" style="padding-bottom: 7rem;">
        <!-- Toggle Button -->
        <div class="d-flex justify-content-end align-items-center pt-4 px-4">
          <div class="hs-unfold">
            <a class="js-hs-unfold-invoker btn btn-icon btn-xs btn-soft-secondary" href="javascript:;"
               data-hs-unfold-options='{
                  "target": "#sidebarContent",
                  "type": "css-animation",
                  "animationIn": "fadeInRight",
                  "animationOut": "fadeOutRight",
                  "hasOverlay": "rgba(55, 125, 255, 0.1)",
                  "smartPositionOff": true
                 }'>
              <svg width="10" height="10" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
              </svg>
            </a>
          </div>
        </div>
        <!-- End Toggle Button -->

        <!-- Content -->
        <div class="scrollbar sidebar-body">
          <div class="sidebar-content py-4 px-7">
            <form class="js-validate">
              <!-- Signup -->
              <div id="signup">
                <!-- Title -->
                <div class="text-center mb-7">
                  <h3 class="mb-0">Create your account</h3>
                  <p>Fill out the form to get started.</p>
                </div>
                <!-- End Title -->

                <!-- Input Group -->
                <div class="js-form-message mb-4">
                  <label class="input-label">Full Name</label>
                  <div class="input-group input-group-sm mb-2">
                    <input type="text" class="form-control" name="fullName" id="signupName" placeholder="Full Name" aria-label="Full Name" required
                           data-msg="Please enter a valid mail.">
                  </div>
                </div>
                <!-- End Input Group -->

                <!-- Input Group -->
                <div class="js-form-message mb-4">
                  <label class="input-label">Email</label>
                  <div class="input-group input-group-sm mb-2">
                    <input type="email" class="form-control" name="email" id="signupEmail" placeholder="Email" aria-label="Email" required
                           data-msg="Please enter a valid email address.">
                  </div>
                </div>
                <!-- End Input Group -->

                <!-- Input Group -->
                <div class="js-form-message mb-4">
                  <label class="input-label">Password</label>
                  <div class="input-group input-group-sm mb-2">
                    <input type="password" class="form-control" name="password" id="signupPassword" placeholder="Password" aria-label="Password" required
                           data-msg="Your password is invalid. Please try again.">
                  </div>
                </div>
                <!-- End Input Group -->

                <!-- Input Group -->
                <div class="js-form-message mb-4">
                  <label class="input-label">Confirm Password</label>
                  <div class="input-group input-group-sm mb-2">
                    <input type="password" class="form-control" name="confirmPassword" id="signupConfirmPassword" placeholder="Confirm Password" aria-label="Confirm Password" required
                           data-msg="Password does not match the confirm password.">
                  </div>
                </div>
                <!-- End Input Group -->

                <div class="mb-3">
                  <button type="submit" class="btn btn-sm btn-primary btn-block">Sign Up</button>
                </div>

                <div class="text-center mb-3">
                  <span class="divider divider-xs divider-text">OR</span>
                </div>

                <div class="text-center">
                  <span class="small text-muted">Already have an account?</span>
                  <a class="js-animation-link small font-weight-bold" href="/users/sign-in"
                  >Sign In
                  </a>
                </div>
              </div>
              <!-- End Signup -->

            </form>
          </div>
        </div>
        <!-- End Content -->
      </div>

      <!-- Footer -->
      <footer class="sidebar-footer border-top py-2 px-7">
        <ul class="nav nav-sm">
          <li class="nav-item">
            <a class="nav-link pl-0" href="#">Privacy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Terms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-info-circle la-lg"></i>
            </a>
          </li>
        </ul>
      </footer>
      <!-- End Footer -->
    </div>
  </div>
</aside>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "libraries/hs-sticky-block.min" %>
<% end %>





