<div class="navbar-expand-lg navbar-expand-lg-collapse-block navbar-light">
  <div id="sidebarNav" class="collapse navbar-collapse navbar-vertical">
    <!-- Card -->
    <div class="card">
      <div class="card-body">
        <!-- Avatar -->
        <div class="d-none d-lg-block text-center mb-5">
          <div class="avatar avatar-xxl avatar-circle mb-3">
            <% profile_picture = current_user.avatar_image_urls['220x148'] ||  asset_path("components/160x160/img22.jpg") %>
            <img class="avatar-img" src="<%= profile_picture %>" alt="Image Description">
            <span class="avatar-status avatar-lg-status">
                      <a type="button" class="avatar-status avatar-lg-status btn btn-xs btn-primary btn-icon" data-toggle="tooltip" data-placement="bottom" title="Change Profile Picture" href="<%= upload_users_path %>">
                      <i class="fas fa-camera"></i>
                    </a></span>
          </div>

          <h4 class="card-title">
            <%= current_user.full_name %></h4>
            <p class="card-text font-size-1"> <%= current_user.email %></p>
        </div>
        <!-- End Avatar -->

        <h6 class="text-cap small">Account</h6>

        <!-- List -->
        <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2 mb-4">
          <li class="nav-item">
            <a class="nav-link" href="<%= details_users_path %>">
              <i class="fas fa-id-card nav-icon"></i>
              Personal info
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= upload_users_path %>">
              <i class="fas fa-camera nav-icon"></i>
              Change Profile Picture
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/qualifications">
              <i class="fas fa-star nav-icon"></i>
              Edit Qualifications
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= edit_password_users_path %>">
              <i class="fas fa-shield-alt nav-icon"></i>
              Password &amp; security
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= cancel_account_users_path %>">
              <i class="fas fa-trash nav-icon"></i>
              Delete Account
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= destroy_user_session_path %>">
              <i class="fas fa-sign-out-alt nav-icon"></i>
              Logout
            </a>
          </li>
        </ul>
        <!-- End List -->
      </div>
    </div>
    <!-- End Card -->
  </div>
</div>
