<!DOCTYPE html>
<html>
<head>
  <title>
    VC Room
  </title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
  <%= yield :stylesheet_includes %>
  <%= stylesheet_link_tag 'theme', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'Index' %>
  <%= stylesheet_pack_tag 'Index' %>
</head>

<body>
    <div id='main-container'>
        <%= render "layouts/header" %>
        <% if notice %>
          <div class="alert alert-soft-success custom-align-center" role="alert"><%= notice %></div>
        <% end %>
        <% if alert %>
          <div class="alert alert-soft-danger custom-align-center" role="alert"><%= alert %></div>
        <% end %>
        <%= yield %>
      <%= render "layouts/footer" unless @is_message_url %>
    </div>
    <%= javascript_include_tag 'theme', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "libraries/hs-sticky-block.min" %>
    <%= yield :javascript_includes %>
</body>
</html>
